<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ncvt.speed.mapper.CollectMapper">

    <resultMap id="CollectRMap" type="com.ncvt.speed.entity.CollectEntity">
        <result column="collect_id" property="collectId"></result>
        <result column="file_id" property="fileId"></result>
        <result column="user_id" property="userId"></result>
    </resultMap>

    <!-- 批量添加收藏 -->
    <insert id="addCollect" useGeneratedKeys="true" keyProperty="collectId">
        INSERT INTO tb_collect(
            file_id,
            user_id
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.fileId},#{item.userId})
        </foreach>
    </insert>

    <!-- 移出收藏 -->
    <delete id="deleteCollect">
        delete from tb_collect where collect_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

</mapper>