<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ncvt.speed.mapper.DeleteMapper">

    <resultMap id="DeleteRMap" type="com.ncvt.speed.entity.DeleteEntity">
        <result column="delete_id" property="deleteId"></result>
        <result column="user_id" property="userId"></result>
        <result column="file_id" property="fileId"></result>
        <result column="delete_time" property="deleteTime"></result>
    </resultMap>

    <!-- keyProperty="userId" 设置主键字段对应的实体类 -->
    <insert id="addDelete" useGeneratedKeys="true" keyProperty="deleteId">
        INSERT INTO tb_delete(
            file_id,
            user_id,
            delete_time
        ) VALUES (
                     #{fileId},#{userId},#{deleteTime}
                 )
    </insert>
    <!-- 批量添加 -->
    <insert id="addDeleteList" useGeneratedKeys="true" keyProperty="deleteId">
        INSERT INTO tb_delete(
            file_id,
            user_id,
            delete_time
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.fileId},#{item.userId},#{item.deleteTime})
        </foreach>
    </insert>

    <delete id="dDelete">
        delete from tb_delete where file_id=#{fileId}
    </delete>

    <select id="queryRecycler" resultMap="DeleteRMap">
        SELECT * FROM tb_delete WHERE user_id=#{userId}
    </select>

</mapper>